
*{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}
header,aside,footer{
    border-color:black;
    border-style: groove;
}
header {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    margin: 5px;
    background-color: aliceblue;
}
header h1{
    line-height: 100px;
    text-align: center;
}



nav{
    display: flex;
    direction: row;
}
 a{
    line-height: 100px;
    text-align: center;
    text-decoration: none;

}
main{
    margin: 50px;
    display: flex;
    flex: auto;
    height: max-content;
    /*This will push the footer and accomodtae more conteny*/
}
section{
    text-align: center;
    height: fit-content;
    border: 5px;
    border-color: black;
    border-style: double;
}
#as-left{
    width: 25%;
    height: fit-content;
}
#as-right{
    text-align: center;
    width: 20%;
    height: fit-content;
}
footer{
    text-align: center;
    background-color: aquamarine;
    margin: 5px;

}